node_modules
backend/nodejs/globalConfig.json
backend/linebotImg/.venv/**
backend/linebotImg/pictures_byte/**
backend/linebotImg/.EasyOCR
frontend/**/.vscode/**
frontend/vite_test/**
**/*.env
**.pem
backend/db
jest*
!jest-mongodb-config.js
!jest-config.json