version: '3'
services:
  #backend
  cheffy:
    container_name: "cheffy"
    build: ./backend/nodejs/.
    ports:
      - "14000:14000"
    env_file:
      - ./backend/nodejs/.env
    depends_on:
      - cupboard
  #database
  cupboard:
    container_name: "cupboard"
    image: "mongo:latest"
    env_file:
      - ./backend/.env
    ports:
      - "27017:27017"
  #Line-bot
  waiter:
    container_name: "waiter"
    build: "./backend/linebotImg/."
    env_file:
      - ./backend/linebotImg/.env
    ports:
      - "12777:12777"
    volumes:
      - "./backend/linebotImg/pictures_byte:/usr/src/app/pictures_byte"
      - "./backend/linebotImg/messages:/usr/src/app/messages"
      - "./backend/linebotImg/.EasyOCR:/root/.EasyOCR"
  # #Frontend
  # cuisine: